<!DOCTYPE html>
<html>
    <head>
        <title>{{ custom["header"] }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link rel="icon" type="image/png"href="{{ url_for('static', filename='favicon.ico') }}">
    </head>
    {% if "error" in session %}
    <body onload="{{ session.pop('error') }}">
    {% else %}
    <body>
    {% endif %}
        <nav class="navbar navbar-expand navbar-dark" style="background-color: #ff7f00;">
            <a class="navbar-brand" href="/">{{ custom["header"] }}</a>
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                </ul>
            </div>
            <div>
                <form action="/search">
                    <input type="text" name="search" placeholder="Search..." class="white form" width="60%">
                    <button><i class="fa fa-search"></i></button>
                </form>
            </div>
            <span>
                {% if "user" in session %}
                <p class="white">Welcome, <a href="/user/{{ session['user'] }}" class="white"><u>{{ session["user"] }}</u></a>!
                    <a href="/logouted"><button>Logout</button></a></p>
                {% else %}
                <a href="/login"><button>Login</button></a>
                <a href="/signup"><button>Signup</button></a>
                {% endif %}
            </span>
        </nav>
        <article>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 body">
                    {{ body }}
                </div>
                <div class="col-1"></div>
                <div class="col-2 body">
                    {{ sidebar }}
                </div>
                <div class="col-1"></div>
            </div>
        </article>
        <footer>
            <p>Made by <a href="{{ custom['website'] }}" target="_blank">{{ custom['creator'] }}</a></p>
            {% if "elevation" in session %}
            <a href="/admin" target="_blank"><button>Admin</button></a>
            {% endif %}
        </footer>
    </body>
</html>
