<!DOCTYPE html>
<html>
    <head>
        <title>{{ custom['title'] }}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" type="image/png"href="{{ url_for('static', filename='favicon.png') }}">
    </head>
    {% if "error" in session %}
    <body onload="{{ session.pop('error') }}">
    {% else %}
    <body>
    {% endif %}
        <header>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7">
                    <table width="100%">
                        <td>
                            <a href="/" height="80%"><h1 id="header">{{ custom['header'] }}</h1></a>
                        </td>
                        <td class="right">
                            <h2 id="subheader">{{ custom['subheader'] }}</h2>
                        </td>
                    </table>
                </div>
                <div class="col-1"></div>
                <div class="col-2 right">
                    {% if "user" in session %}
                    <p class="white">Welcome, <a href="/user/{{ session['user'] }}" class="white"><u>{{ session["user"] }}</u></a>!
                    <a href="/logouted"><button>Logout</button></a></p>
                    {% else %}
                    <a href="/login"><button>Login</button></a>
                    <a href="/signup"><button>Signup</button></a>
                    {% endif %}
                    <form action="/search">
                        <p>
                            <input type="text" name="search" placeholder="Search..." class="white form" width="60%">
                            <button class="white" width="20%"><i class="fa fa-search white"></i></button>
                        </p>
                    </form>
                </div>
                <div class="col-1"></div>
            </div>
        </header>
        <article>
            <br>
            <div class="row">
                <div class="col-1"></div>
                <div class="col-7 body">
                    {{ body }}
                </div>
                <div class="col-1"></div>
                <div class="col-2 body">
                    {{ sidebar }}
                </div>
                <div class="col-1"></div>
            </div>
        </article>
        <footer>
            <p>Made by <a href="{{ custom['website'] }}" target="_blank">{{ custom['creator'] }}</a></p>
            {% if "elevation" in session %}
            <a href="/admin" target="_blank"><button>Admin</button></a>
            {% endif %}
        </footer>
    </body>
</html>